@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

@font-face {
    font-family: main;
    src: url("./Fonts/BiggerDisplay.otf");
}
@font-face {
  font-family: montserrat;
  src: url("./Fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: nunito;
  src: url("./Fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: raleway;
  src: url("./Fonts/Raleway-Regular.ttf");
}